<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{
        font-size: 30px;
        background-image: linear-gradient(lightgreen,lightyellow,lightblue,skyblue);
    }
        input{
            width: 200px;
            height:40px;
            border-radius: 10px;
            border: 2px solid red;
        }
        form{
            margin: 50px;
            position: relative;
            align-items: center;
        }
         button{
            background: black;
            color:#fff;
            border:2px solid red;
            width:70px;       
            height: 30px;
            border-radius: 10px;
         }
    </style>
</head>
<body><font color="red"><h1 align="center">change password page</h1></font><br><br>
    <form action="/change_pass" method="post" align="center">
   old passsword : <input type="password" name="old_pass" required placeholder="enter your old password"><br><br>
  new passsword :  <input type="password" name="new_pass" required placeholder="enter your new password"><br><br>
  confirm new passsword :  <input type="password" name="con_pass" required placeholder="confirm new password"><br><br>
<button>submit</button>
</form>


    <font color="red" ><h3 align="center"><%=message%></h3></font>

    
</body>
</html>