<!DOCTYPE html>
<html lang="en">
    <title>welcome to the home page</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width:500px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    button{
            background: black;
            color:#fff;
            border:2px solid red;
            width:70px;       
            height: 35px;
            border-radius: 10px;
         }
       
  </style>
</head>
<body style="background-image:linear-gradient(grey,lightblue,skyblue,lightyellow);">

<div class="container-fluid" style="min-height: 700px;">
  <div class="row">
    <div class="col-sm-2 sidenav">
      <h4>pankaj's project</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/newuser">create new account</a></li>
        <li><a href="/admin_check">admin user</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search info..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
      
      
      
  <!-- Email input -->
  <h1><strong>WELCOME TO HOMEPAGE</strong></h1>

  <form action="/login_check" method="post" class="m-30" >

  <div class="form-outline mb-4 m-20">

    <label class="form-label" for="form2Example1">Email address</label>
    <input type="email" name="email" id="form2Example1" class="form-control " />

  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" name="password" id="form2Example2" class="form-control" />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
    </div>
  </div>

  <!-- Submit button -->
  <button >Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="/newuser">Register</a></p>
  
  </div>
</form>
      
    
     
      <hr>

      
       
      <h3 align="center">
        <%
        if(message)
        {%>
          <%=message%>
        <%}
        %>
  
      </h3>
      
    </div>
   
    

    
  </div>
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4>iPhone XS</h4>
                            <p>This has many features that are simply awesome. The phone comes with a 3.50-inch display with a resolution of 320x480 pixels.</p> <br> <a href="#">BUY NOW</a>
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="https://i.imgur.com/iDwDQ4o.png" class="mx-auto" alt="slide"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4>HP Pavillion</h4>
                            <p>This has many features that are simply awesome.The phone comes with a 3.50-inch display with a resolution of 320x480 pixels.</p> <br> <a href="#">BUY NOW</a>
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="https://i.imgur.com/tVBy5Q0.png" class="mx-auto" alt="slide"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>


    

 
</div>

<footer class="container-fluid py-0 m-0">
  <p>pankaj Raj</p>
</footer>

</body>
</html>