<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
   <style>
    
   </style>
</head>
<body ><div class="bg-info">
   <button class="bg-danger fs-3 btn btn-outline-dark"><a class="text-dark "href="./">already an account</a></button> 

</div><center>   <div id="d"class="container-fluid bg-info">
    <h1 align="center"> new user registration</h1>
    <form action="/newuser" method="post"  align="center">
       
       
        <label for="Name" class="form-label">Name :</label><center>
    <input type="text" class="form-control w-25" required name="name" placeholder="enter your name"><br><br></center>
    <label for="Email" class="form-label">Email :</label><center><input type="email" class="form-control w-25"required name="email" placeholder="enter your email"><br><br>
    </center>
     <label for="adress" class="form-label">adress :</label><center>
     <textarea name="adress" class="form-control w-25"required ></textarea><br>
    </center>
     
     <label for="passsword" class="form-label">passsword :</label><center>
     <input type="password"class="form-control w-25" required name="password" placeholder="enter your password"><br><br></center>
   
     <label for="gender" class="form-label">gender :</label><br>
      <input type="radio" required value="male" name="gender">male
    <input type="radio" required value="female" name="gender">female <br><br>


    <label for="mobile" class="form-label">mobile :</label><center>
    <input type="number" class="form-control w-25"required name="mobile" placeholder="enter your mobile"><br><br></center>
    <button class="btn btn-danger">sign up</button>
    <br>
    </form>

     <br>
     <% if(message)
     {%>
     <script>
        alert('signup  successfully')
        window.location='./'
     </script>
        <%}%>
    </div></center>
 

</body>
</html>