<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
    <style>
       body{
        font-size: 30px;
        background-image: linear-gradient(lightgreen,lightyellow,lightblue,skyblue);
    }
       
    </style>
</head>
<body>
    <font color="red"><h1 align="center">welcome to user control pannel</h1></font>
    

    <h3 align="center"><%=myemail%></h3>
    <h3 align="center"><%=myname%></h3>
    <br><br>
   <h3 align="center">   <a href="/buy_product">shop products</a>   </h3> 
    <h5 align="center"> <a href="/change_pass">change password</a></h5>

    <h5 align="center"><a href="/logout">logout</a></h5><br><br><br>
    
  <font color="red">  <h3 align="center">        <%=value%></h3></font>

</body>
</html>